// Bourbon & Neat
@import "../../bower_components/bourbon/dist/bourbon";
@import "../../bower_components/neat/app/assets/stylesheets/neat";

//Colors in order: OilGrey, Blue, Yellow, White
$darkest: #333;
$medium: #4b88d8;
$light: #fdcc55;
$lightest: #fff;

// Custom Styles
body {
    font-size: 100%;
    margin: 0;
    font-family: "open sans" $helvetica;
}

p {
    float: none !important;
}

.page-container {
    @include outer-container;
    margin: 0 auto;
    max-width: 965px;
    text-align: center;
    overflow:hidden;
}

header {
    @include fill-parent;
    position: relative;
    background: url("https://s3.amazonaws.com/uploads.hipchat.com/31349/1120693/WeJTjVNJp5a6ULc/upload.png");
    height: 400px;
    background-size: cover;
    background-position: center center;
    opacity: 1;
     border-bottom: solid 10px $darkest;
    &::after {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: HSLA(214, 65%, 68%, 0.2);
    }
}

.outer-container {
    @include outer-container;
    background: $light;
    padding: 40px 0;

    border-bottom: solid 10px $darkest;
    p {
        @include span-columns(8);
        @include shift(2);
        // text-align: center;
        font-size: 1.2em;
    }

}

 h2 {
        text-shadow: 0 1px 1px $darkest;
        letter-spacing: .15em;
        font-size: 1.5em;
        @include span-columns(6);
        @include shift(3);
        color: $darkest;
    }

.map-parent {
  width: 100%;
  height: 250px;

}

.background {
    background: #f2f1f0;
}

.contact {
    @include span-columns(12);
    background: #f2f1f0;
    font-size: em(13px);

  .phone {
      margin: 0;
      color: $medium;
      padding: 0;
      font-size: 1.2em;

      &:before {
        content: "\2706";
        margin-right: 2px;
      }
  }

  .email {
      margin: 0;
      color: $medium;
      padding: 0;
      font-size: 1.2em;
      display: block;

      a {
          text-decoration: none;
      }

      &:before {
        content: "\2709";
        margin-right: 2px;
      }
  }
}

.image-container {
    height: 320px;
    width:101%;
    @include outer-container;
    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        @include clearfix;
        height: 100%;
    }
    li {
        background-size:cover;
        background-repeat:no-repeat;
        display: inline-block;
        float: left;
        width: 33.3%;
        height: 100%;
        border-bottom: solid 10px $darkest;
        img {
            width: 100%;
            height: 100%;
        }
    }
}

.black {
    background: #4b88d8;
    color: $darkest;
}

footer {
    border-top: solid 10px $darkest;
    background: $light;
    padding: 45px 0;
    text-shadow: 0 1px 1px $darkest;
}

@media (max-width: 900px) {
    .contact {
        float: none;
        @include span-columns(12);
    }
    .email {
        font-size: 1em;
    }
    .phone {
        font-size: 1em;
        color: $medium;
    }
    .map {
       @include span-columns(12);
    }
}

@media (max-width: 700px) {
   h2 {
      font-size: em(18px);
      @include span-columns(10);
      @include shift(1);
    }
}

@media (max-width:800px) {
  .image-container {
    overflow:scroll;
    ul {
      width:150%;
    }
  }
}

@media (max-width: 600px) {
    .image-container {
        overflow: scroll;
        ul {
            width: 300%;
        }
    }

     h2 {
      font-size: em(18px);
      @include span-columns(10);
      @include shift(1);
    }
}
